.form{
	border: double gold;
	background-color: #BBBBBB;
	max-width: 300px;
	margin: 300px auto;
	padding: 20px;
	text-align: center;
	color: #444444;
}
.form-control{
	margin: 5px;
}
body{
	background-image: url(sport.jpg);
}

